 @use 'variables';
 .header{
    display: flex;
    border: 3px solid variables.$header-outline;
    max-width: 43.75rem;
    width: 100%;
    margin-top: 1.875rem;
    border-radius: 1rem;
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    .text{
        font-size: 2.5rem;
        text-transform: uppercase;
        display: flex;
        align-items: flex-start;
        line-height: 2rem;
        gap: 0.7rem;
    }
    .score-box{
        padding: .75rem 2.5rem;
        background: #fff;
        font-size: 1rem;
        color:  variables.$score-text;
        border-radius: 5px;
        position: absolute;
        top: 15px;
        right: 15px;
        .score{
            color: variables.$dark-text;
            font-size: 3.5rem;
            font-weight: 700;
        }
        // .score-box__score {
        //     color: hsl(229deg, 25%, 31%);
        //     font-size: 2.5rem;
        //     font-weight: 700;
        //     line-height: 1;
        // }
    }
}
@media (max-width: 500px){
    .header {
        max-width: 96%;
        width: 100%;
        margin-top: 10px;
        padding: 0.75rem;
        .text {
            font-size: 1.5rem;
            line-height: 1rem;
            gap: 0.2rem;
        }
        .score-box {
            padding: 10px 14px;
            background: #fff;
            font-size: 1rem;
            color: hsl(229, 64%, 46%);
            border-radius: 5px;
            position: absolute;
            top: auto;
            bottom: 64px;
            right: auto;
            left: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            .score {
                font-size: 22px;
                line-height: 1;
            }
        }
    }
} 